# Android / Gradle / Kotlin
.gradle/
build/
captures/
.cxx/
out/

# IDE
*.iml
.idea/
.DS_Store

# Local files
local.properties
gradle.properties
scripts/set-signing-env.ps1
*.jks

# Build outputs
app/release/
*.apk
*.aab
*.dm
*.log

# Firebase
firebase-debug.log
